@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("dark.css");

body {
    background-color: var(--color-base);
    color: var(--color-text);
    font-size: 125%;
    font-family: "Open Sans", sans-serif;
}

#title {
    margin: 0 0 0 1rem;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    gap: 1rem;

    .video-controls {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}

.sidebar {
    display: none;
}

.mobile-sidebar-header,
.mobile-sidebar-userlist {
    display: block;
}

.video-url-input {
    flex: 1 1 auto;
    min-width: 0;
}
.mobile-userlist {
    padding: 1em;
    background-color: var(--color-bg-1);
    border-radius: 0.5em;
    margin-top: 0.5em;
}

@media (min-width: 1200px) {
    .layout {
        flex-direction: row;
        align-items: flex-start;
    }

    .main {
        margin-right: 0;
        flex: 0 0 auto;
        width: fit-content;
    }

    .sidebar {
        display: block;
        margin: 0 2em;
        flex: 1 1 12em;
        overflow: hidden;
    }

    .mobile-sidebar-header,
    .mobile-sidebar-userlist {
        display: none;
    }
}

input[type="text"] {
    font-size: 1em;
    background-color: var(--color-base);
    color: var(--color-text);
    border: 1px solid var(--color-overlay-0);
    border-radius: 0.5em;
    padding: 0.5em;

    &:focus {
        outline: var(--color-accent) solid 2px;
    }
}

button {
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;

    background-color: var(--color-surface-1);
    color: var(--color-text);

    &:hover {
        background-color: color-mix(
            in srgb,
            var(--color-surface-1),
            var(--color-text) 10%
        );
    }

    &[type="submit"] {
        background-color: var(--color-accent);
        color: var(--color-base);

        &:hover {
            background-color: color-mix(
                in srgb,
                var(--color-accent),
                var(--color-base) 10%
            );
        }
    }

    &.destructive {
        background-color: var(--color-red);
        color: var(--color-base);

        &:hover {
            background-color: color-mix(
                in srgb,
                var(--color-red),
                var(--color-base) 10%
            );
        }
    }

    &:disabled {
        color: var(--color-overlay-0);
        background-color: var(--color-base);
    }
}

#yt_player {
    border-radius: 12px;
}

.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal_window {
    padding: 1em;
    background-color: var(--color-base);
    border-radius: 0.5em;
}

#userlist {
    margin-top: 1rem;
    padding: 1em;
    background-color: var(--color-bg-1);
    border-radius: 0.5em;
}

#queuewrapper {
    padding: 1em;
    background-color: var(--color-bg-1);
    border-radius: 0.5em;
}

.queue-video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;

    &:last-child {
        margin-bottom: 0;
    }
}

.thumbnail-wrapper {
    flex: 0 0 auto;
    position: relative;
    max-width: 160px;
    max-height: 90px;
    margin-right: 1em;
}

.thumbnail {
    max-width: 160px;
    max-height: 90px;
    border-radius: 0.3em;
}

.video-duration {
    box-sizing: border-box;
    position: absolute;
    bottom: 0.1em;
    right: 0.1em;
    color: #dddddd;
    padding: 0.1em 0.3em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.3em;
    font-size: 0.8em;
}

.video-info {
    flex: 1 1 0;
}

.video-title {
    white-space: nowrap;
    overflow: hidden;
}

.channel-title {
    font-size: 0.8em;
    color: var(--color-accent);
}

.published-at {
    font-size: 0.8em;
    color: var(--color-subtext-0);
}

.queued-by {
    font-size: 0.6em;
    color: var(--color-surface-2);
}

.queue-controls {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0.3em;
    }

    button {
        font-size: 0.9em;
    }

    .up-arrow {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .down-arrow {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
