@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("dark.css");

body {
    background-color: var(--color-base);
    color: var(--color-text);
    font-size: 125%;
    font-family: "Open Sans", sans-serif;
}

#chat_output {
    height: 20em;
    overflow: scroll;
}

input[type="text"] {
    font-size: 1em;
    background-color: var(--color-base);
    color: var(--color-text);
    border: 1px solid var(--color-overlay-0);
    border-radius: 0.5em;
    padding: 0.5em;

    &:focus {
        outline: var(--color-accent) solid 2px;
    }
}

button {
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;

    background-color: var(--color-surface-1);
    color: var(--color-text);

    &:hover {
        background-color: color-mix(in srgb, var(--color-surface-1), var(--color-text) 10%);
    }

    &[type="submit"] {
        background-color: var(--color-accent);
        color: var(--color-base);

        &:hover {
            background-color: color-mix(in srgb,
                    var(--color-accent),
                    var(--color-base) 10%);
        }
    }
}

.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal_window {
    padding: 1em;
    background-color: var(--color-base);
    border-radius: 0.5em;
}

#userlist {
    padding: 1em;
    background-color: var(--color-bg-1);
    border-radius: 0.5em;
}

#queuewrapper {
    padding: 1em;
    background-color: var(--color-bg-1);
    border-radius: 0.5em;
}
