<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Videosync</title>
        <link rel="stylesheet" href="/static/main.css" />
        <script src="https://www.youtube.com/player_api"></script>
        <script src="/static/room.js"></script>
        <script>
            const youtubeApiPromise = new Promise((resolve, _reject) => {
                window.onYouTubePlayerAPIReady = () => {
                    roomId = "{{.Id}}";
                    resolve();
                };
            });
        </script>
    </head>

    <body class="dark">
        <h1>{{.Id}}</h1>

        <div
            style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            "
        >
            <div style="flex: 1 1 0">
                <div id="yt_player"></div>

                <div>
                    <input
                        id="video_url_input"
                        type="text"
                        placeholder="Paste YouTube URL"
                        style="width: 30em"
                    />
                    <button id="play_video_button" type="submit">
                        Play video
                    </button>
                </div>
            </div>
            <div style="flex: 0 0 20em">
                <h2>Users</h2>
                <div id="userlist"></div>
            </div>
        </div>

        <div id="username_modal" class="modal_background">
            <div class="modal_window">
                <input
                    id="username_input"
                    type="text"
                    placeholder="Pick a username"
                    autofocus
                />
                <button id="submit_username_button" type="submit">
                    Start watching
                </button>
            </div>
        </div>
    </body>
</html>
